apiVersion: 1

providers:
 - name: 'mtglab.local'
   folder: ''
   folderUid: ''
   type: file
   disableDeletion: false
   editable: true
   updateIntervalSeconds: 300
   options:
     path: /var/lib/grafana/dashboards